<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- Environment variables (with default values) -->
  <variable name="ROOT_LOG_LEVEL" value="${ROOT_LOG_LEVEL:-INFO}" />

  <root level="${ROOT_LOG_LEVEL}">
    <appender-ref ref="STDOUT" />
  </root>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} MDC=%X{user} - %msg%n</pattern>
    </encoder>
  </appender>
</configuration>
